﻿.__main_action_bar
{
colorTitle:#EBEBEB;
colorSubTitle:#EBEBEB;
colorHeader:#993535;
colorStatusBar:#7f2a2a;
iconColor:white;
submenuiconcolor:#808080;
}
.info
{
    border-width: 1px;
	border-style: solid;
	border-color: #FFD3A5;
    background-color: OldLace;
	
    padding: 2px; 
    
}
.pic_but
{
    
	background-color: #993535;
    corner-radius: 8%;
    border: 0px solid #706f6f;
    color: white;
    padding:5px;
	margin:0;
}
.pic_but:hover
{
    
	background-color: #d33b3b;
    corner-radius: 8%;
    border: 0px solid #706f6f;
    color: white;
    padding:5px;
	margin:0;
}
.pic_but:active
{
    
	background-color: #d33b3b;
    corner-radius: 8%;
    border: 0px solid #706f6f;
    color: white;
    padding:5px; 
	margin:0;
}
.pic_but:disabled
{
    
	background-color: #9E9E9E;
    corner-radius: 8%;
    border: 0px solid #9E9E9E;
    color: white;
    padding:5px; 
	margin:0;
}
.__common_button:disabled
{
    background-color: #9E9E9E;
    corner-radius: 8%;
    border: 0px solid #9E9E9E;
    color: white;
    margin-bottom: 10px;
}
h2 
{
    font-size:135%;
}
.header
{
    margin:2pt 0pt;
    text-align:left; 
}
.headerScan
{
    margin:10pt 0pt 5pt 0pt;
}
.headerSelect
{
    margin-top:10pt;
}
.headerCheck
{
    margin: 0;
}
.footer
{
    margin:2pt 0pt;
    text-align:left; 
}
.error
{
    background-color: red;
    padding:2pt;
    color: white;
    font-weight: bold;
}
.info
{
    background-color:#1CA764;
    padding:2pt;
    color: white;
    font-weight: bold;
}
.image
{
    width:100%;
    text-align:center;
}


.itemType
{
    margin-top: 6pt;
    color: #4F4F51;
    text-align: left;
}
.imageDataMatrix
{
    padding: 5pt 10pt;
}

.imageGTIN
{
    padding: 5pt 10pt;
}

.redbttn
{
    background-color:#FF4C52;
    color: white;
}
.redbttn:active
{
    border-radius: 25%;
    background-color:#B5363C;
    color: white;
}
.redbttn:hover
{
    background-color:#B5363C;
    color: white;
}
.graybttn
{
    background-color: lightgray;
    color: black;
}
.graybttn:active
{
    background-color: gray;
    color:black;
}

.dekr1{
    background-color: #EA9999;
    border-radius: 25%;
    color: white;
}
.inkr1{
    background-color: #93C47D;
    border-radius: 25%;
    color: white;
}
.inkr5{
    background-color: #6AA84F;
    border-radius: 25%;
    color: white;
}
.inkr10{
    background-color: #38761D;
    border-radius: 25%;
    color: white;
}
.greenbttn
{
    margin-bottom: 5pt;
    border-radius: 25%;
    background-color: rgb(78, 184, 78);
    color: white;
}
.greenbttn:active
{
    margin-bottom: 5pt;
    border-radius: 25%;
    background-color: rgb(48, 126, 48);
    color: white;
}
.whitebttn
{
	color: #FAFAFA;
	background-color: gray;
	border: none;
}
.whitebttn:active
{
	color: #FAFAFA;
	background-color: black;
	border: none;
}
.redtextbttn
{
    margin-bottom: 5pt;
    border-radius: 25%;
    color: #FF4C52;
}
.redtextbttn:active
{
    margin-bottom: 5pt;
    border-radius: 25%;
    color: #B5363C;
}
.yellowbttn
{
    margin-bottom: 5pt;
    border-radius: 25%;
    background-color: #F2EB3B;
    color: black;
}
.yellowbttn:active
{
    margin-bottom: 5pt;
    border-radius: 25%;
    background-color: rgb(255, 187, 0);
    color: black;
}